#loading {
    position: fixed;
    top: 30%;
    left: 48%;
}

#notify {
    position: fixed;
    top: 10px;
    right: 10px;
    width: auto;
    z-index: 9999;
}

.site-name {
	color: white;
	padding-top: 10px;
	padding-left: 20px;
}

.input-error {
    border: 2px solid red !important;
}
.error {
    display: block;
    color: red;
}